.components {
  text-align: center;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.logo {
  position: absolute;
  left: 17px;
  max-height: 80px;
  width: auto; 
}

.title {
  margin: 0;
  font-size: 3.2em;
  padding: 0 50px; 
  font-family: "Gill Sans", sans-serif;
  font-weight: 500;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    position: relative;
    left: 0;
    margin-bottom: 10px; 
  }

  .title {
    padding: 0 50px; 
  }
}

.table-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.centered-table {
  border-collapse: collapse;
  width: 85%; 
  min-width: 400px;
}

.cell {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center; 
  margin: 5px; 
}

th {
  background-color: #f2f2f2; 
}

tr:hover {
  background-color: #f1f1f1; 
}

.dropdownMenu {
  font-family: "Gill Sans", sans-serif;
}

.tabTitle {
  padding-top: 15px;
}

.eventsPage {
  padding-left: 10%;
  padding-right: 10%;
}

