 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --med-green: #1D5F3F;
  --dark-green: #003628;
  --red: #E71A1A;
  --grey: #50505092;
}

a {
  font-weight: 500;
  color: var(--dark-green);
  text-decoration: inherit;
}
a:hover {
  color: black;
} 

body {
  margin: 0;
}

header {
  padding: 25px;
  color: var(--med-green);

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

nav {
  padding: 10px;
  border-style: solid;
  border-width: thin 0 0 0;
  border-color: var(--dark-green);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: var(--med-green);
}

main {
  padding: 20px;
  flex: 1;
}

footer {
  background-color: var(--med-green);
  padding-top: 20px;
  padding-bottom: 15px;
  color: var(--dark-green);
}
 
h1 {
  font-size: 2em;
  font-family: "Gill Sans", sans-serif;
  font-weight: 500;
  color: var(--med-green);
}

h2 {
  font-weight: 600;
}

section {
  color: var(--med-green);
}
